<table> 
  <thead> 
    <tr> 
        <th>Resort</th> 
        <th>Country</th> 
        <th>Nearest Airport</th> 
        <th>Transfer Time</th> 
        <th>Size of Ski Domain</th> 
    </tr> 
  </thead> 
  <tbody> 
    <tr> 
        <td>Chamonix</td> 
        <td>France</td> 
        <td>Geneva</td> 
        <td>1hr 10min</td> 
        <td>56km</td> 
    </tr> 
    <tr> 
        <td>Morzine</td> 
        <td>France</td> 
        <td>Geneva</td> 
        <td>1hr 15min</td> 
        <td>650km</td> 
    </tr> 
    <tr> 
        <td>Avoriaz</td> 
        <td>France</td> 
        <td>Geneva</td> 
        <td>1hr 35min</td> 
        <td>650km</td> 
    </tr> 
  </tbody> 
</table> 