
  #resortTable{
		width:100%; 
		border-collapse:collapse; 
	}
	#resortTable td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	
	#resortTable tr{
		background: #b8d1f3;
	}

  #resortTable tr:hover {
    background-color: #ffff99;
  }
