<!DOCTYPE html>
<html>
<head>
  <title>SkiFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= csrf_meta_tags %>
  <meta charset='UTF-8'>        
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500,400|Raleway+Dots' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
